@charset "utf-8";

body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}


header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 28px;
	background-color: #363636;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

header>div {
	margin-left: 8px
}

#conteudo {
	padding: 0px 8px
}

footer {
	padding: 0px 20px;
	margin-bottom: 70px;
}

h1 {
	font-size: 19px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}

h3 {
	font-size: 17px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}

h5 {
	font-size: 12px;
	font-weight: 300;
	font: arial;
}

b {
	color: #1E90FF;
	font-size: 14px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}

#login-dialog {
	width: 410px;
	margin: auto;
	margin-top: 200px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}

.rotulo {
	width: 150px
}

.ui-outputlabel td {
	height: 34px
}

.ajax-status {
	position: fixed;
	top: 50px;
	right: 10px;
	width: 35px;
	height: 35px
}

.ui-selectmanycheckbox td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label {
	padding-right: 10px;
}

.ui-autocomplete-input {
	width: 320%;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.2em !important;
}

.ui-tabs {
	padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
	margin: -1px !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
	padding: 0px !important;
}
/* Customiza TabView - fim */

/* Menu sistema inicio */
.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}

.menu-sistema .ui-menu-parent>a .ui-menuitem-text, .menu-sistema>.ui-menu-list>.ui-menuitem>a>.ui-menuitem-text
	{
	color: #ffffff !important;
	font-size: 14px;
	font-weight: 500;
}

)
no-repeat












;
}
/* Menu sistema fim */
.ui-panelgrid {
	border: none !important;
}

.semBorda tr, .semBorda td {
	border: none !important;
}

.usuario-logado {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}